{% extends "booking/base.html" %}
{% load static %}
{% block head_title %}Book room{% endblock %}
{% block styles %}
    
{% endblock %}
{% block content %}
<div class="starter-template">
    <h1>Real Hotel booking site</h1>
    <form id="book_room_form" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="huduma_number">Huduma number</label>
    {{form.huduma_number}}
  </div>
  <div class="form-group">
    <label for="">Name</label>
    {{form.name}}
  </div>
  <div class="form-group">
    <label for="">Email</label>
    {{form.email}}
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="">Booking Date</label>
    {{form.booking_date}}
  </div>
  <div class="form-group">
    <label for="">Checkout date</label>
    {{form.checkout_date}}
    {% comment %} <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> {% endcomment %}
  </div>
  <div class="form-group">
    <label for="">Gender</label>
    {{form.gender}}
    {% comment %} <input type="password" cla{{form.huduma_number}}ss="form-control" id="exampleInputPassword1" placeholder="Password"> {% endcomment %}
  </div>
  <div class="form-group">
    <label for="disability">Any disability</label>
    {{form.disabled}}
    {% comment %} <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> {% endcomment %}
  </div><div class="form-group">
    <label for="exampleInputPassword1">Room type</label>
    {{form.room}}
    {% comment %} <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> {% endcomment %}
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    {{form.age}}
    {% comment %} <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> {% endcomment %}
  </div>
  <button id="save_booking" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/book_room.js' %}"></script>
{% endblock %}